venv/
.venv/
env/

__pycache__/
*.pyc
*.pyd
*.so

*.egg
*.whl

temp_preview.mp4

*.mp4.ffmpeg.log
*.avi.ffmpeg.log
*.json

*.log

*.mp4
*.mov
*.mkv
*.wav
*.mp3

dist/
build/

*.spec

*.exe
*.dmg
*.app